

#nav-section{
    background-color: rgb(44,62,80);
}


.debug .bg_header_img{
    background-color: rgb(26,188,156);
}

.debug .bg_header_img2{
    background-color: rgb(26,188,156);
    
}
.debug .img_size{
height: 300px;
   
}



 .debug .footer_color {
      
       background-color: rgb(58,84,109);
   }    
 .debug .second_footer_color
   {
    
    background-color: rgb(44,62,80);
   }


.img_jumbo_size{
    width: 300px;
    padding-top: 50px;
}
img{
    width: 100%;
   
}

.round_img{
    border-radius: 15px;
}

 .styl{
    border: 1px solid white;
    background-color: transparent;
}

.b_n{
    border: none;
}

