#nav-section{
    background-color: rgb(44,62,80);
}

.bg_header_img{
    background-color: rgb(26,188,156);
}

.footer_color {
      
       background-color: rgb(58,84,109);
 } 

.second_footer_color{
    
    background-color: rgb(44,62,80);
 }

.img_jumbo_size{
    width: 300px;
    padding-top: 50px;
}
img{
    width: 100%;
   
}

.round_img{
    border-radius: 15px;
}

.styl{
    border: 1px solid white;
    background-color: transparent;
}

::placeholder {
    color: rgb(0, 0, 0); 
  }