#nav-section{
    background-color: rgb(44,62,80);
}

.bg_header_img{
    background-color: rgb(26,188,156);
}

.footer_color {
      
       background-color: rgb(58,84,109);
 } 

.second_footer_color{
    
    background-color: rgb(44,62,80);
 }

.img_jumbo_size{
    width: 300px;
    padding-top: 50px;
}
img{
    width: 100%;
   
}

.round_img{
    border-radius: 15px;
}



textarea.form-control::placeholder,
input.form-control::placeholder {
    color: black;
}


.star::before,
.star::after{
    height: 4px;
    width: 100px;
    display: inline-block;
    content: "";
    
}

.jumbotron_section .star::before,
.jumbotron_section .star::after,
#about-section .star::before,
#about-section .star::after{
    background-color: rgb(255, 255, 255);
}

#portfolio .star::before,
#portfolio .star::after,
#contact-me .star::before,
#contact-me .star::after{
    background-color: black;
}

.icons_container{
    height: 50px;
    width: 50px;
}

.icons{
    column-gap: 6px;
}